@use "../node_modules/@cloudscape-design/design-tokens/index.scss" as awsui;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$color-border-button-outline-secondary-active: $gray-800;
$color-border-button-outline-secondary-hover: $gray-800;
$color-background-button-outline-secondary-active: $gray-300;
$color-background-button-outline-secondary-hover: $gray-200;
$color-text-button-outline-secondary-active: $gray-800;
$color-text-button-outline-secondary-hover: $gray-800;

$color-border-button-outline-info-active: $cyan-600;
$color-border-button-outline-info-hover: $cyan-600;
$color-background-button-outline-info-active: $cyan-100;
$color-background-button-outline-info-hover: tint-color($cyan, 95%);
$color-text-button-outline-info-active: $cyan-600;
$color-text-button-outline-info-hover: $cyan-600;

$color-border-button-outline-success-active: $green-800;
$color-border-button-outline-success-hover: $green-800;
$color-background-button-outline-success-active: $green-100;
$color-background-button-outline-success-hover: tint-color($green, 95%);
$color-text-button-outline-success-active: $green-800;
$color-text-button-outline-success-hover: $green-800;

$color-border-button-outline-warning-active: $yellow-600;
$color-border-button-outline-warning-hover: $yellow-600;
$color-background-button-outline-warning-active: $yellow-100;
$color-background-button-outline-warning-hover: tint-color($yellow, 95%);
$color-text-button-outline-warning-active: $yellow-600;
$color-text-button-outline-warning-hover: $yellow-600;

$color-border-button-outline-danger-active: $red-700;
$color-border-button-outline-danger-hover: $red-700;
$color-background-button-outline-danger-active: $red-100;
$color-background-button-outline-danger-hover: tint-color($red, 95%);
$color-text-button-outline-danger-active: $red-700;
$color-text-button-outline-danger-hover: $red-700;

$color-border-button-outline-light-active: $gray-400;
$color-border-button-outline-light-hover:$gray-400;
$color-background-button-outline-light-active: $gray-800;
$color-background-button-outline-light-hover: $black;
$color-text-button-outline-light-active: $gray-400;
$color-text-button-outline-light-hover: $gray-400;

$color-border-button-outline-dark-active: $gray-700;
$color-border-button-outline-dark-hover: $gray-700;
$color-background-button-outline-dark-active: $gray-300;
$color-background-button-outline-dark-hover: $gray-200;
$color-text-button-outline-dark-active: $gray-700;
$color-text-button-outline-dark-hover: $gray-700;

.btn {
  --bs-btn-border-radius: #{awsui.$border-radius-button};
  --bs-btn-font-family: #{awsui.$font-family-base};
  --bs-btn-font-size: 0.9rem;
  --bs-btn-padding-x: 1.25rem;
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-font-weight: 600;
  --bs-btn-border-width: 2px;
}

.btn-primary {
  --bs-btn-color: #{awsui.$color-text-button-primary-default};
  --bs-btn-bg: #{awsui.$color-background-button-primary-default};
  --bs-btn-border-color: #{awsui.$color-background-button-primary-default};
  --bs-btn-hover-color: #{awsui.$color-text-button-primary-hover};
  --bs-btn-hover-bg: #{awsui.$color-background-button-primary-hover};
  --bs-btn-hover-border-color: #{awsui.$color-background-button-primary-hover};
  --bs-btn-active-color: #{awsui.$color-text-button-primary-active};
  --bs-btn-active-bg: #{awsui.$color-background-button-primary-active};
  --bs-btn-active-border-color: #{awsui.$color-background-button-primary-active};
  --bs-btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --bs-btn-disabled-bg: #{awsui.$color-background-button-primary-disabled};
  --bs-btn-disabled-border-color: #{awsui.$color-background-button-primary-disabled};
}

.btn-outline-primary {
  --bs-btn-color: #{awsui.$color-text-button-normal-default};
  --bs-btn-bg: #{awsui.$color-background-button-normal-default};
  --bs-btn-border-color: #{awsui.$color-border-button-normal-default};
  --bs-btn-hover-color: #{awsui.$color-text-button-normal-hover};
  --bs-btn-hover-bg: #{awsui.$color-background-button-normal-hover};
  --bs-btn-hover-border-color: #{awsui.$color-border-button-normal-hover};
  --bs-btn-active-color: #{awsui.$color-text-button-normal-active};
  --bs-btn-active-bg: #{awsui.$color-background-button-normal-active};
  --bs-btn-active-border-color: #{awsui.$color-border-button-normal-active};
  --bs-btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --bs-btn-disabled-bg: #{awsui.$color-background-button-normal-disabled};
  --bs-btn-disabled-border-color: #{awsui.$color-border-button-normal-disabled};
}

.btn-outline-secondary {
  --bs-btn-hover-color: #{$color-text-button-outline-secondary-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-secondary-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-secondary-hover};
  --bs-btn-active-color: #{$color-text-button-outline-secondary-active};
  --bs-btn-active-bg: #{$color-background-button-outline-secondary-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-secondary-active};
}

.btn-outline-info {
  --bs-btn-hover-color: #{$color-text-button-outline-info-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-info-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-info-hover};
  --bs-btn-active-color: #{$color-text-button-outline-info-active};
  --bs-btn-active-bg: #{$color-background-button-outline-info-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-info-active};
}

.btn-outline-success {
  --bs-btn-hover-color: #{$color-text-button-outline-success-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-success-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-success-hover};
  --bs-btn-active-color: #{$color-text-button-outline-success-active};
  --bs-btn-active-bg: #{$color-background-button-outline-success-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-success-active};
}

.btn-outline-warning {
  --bs-btn-hover-color: #{$color-text-button-outline-warning-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-warning-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-warning-hover};
  --bs-btn-active-color: #{$color-text-button-outline-warning-active};
  --bs-btn-active-bg: #{$color-background-button-outline-warning-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-warning-active};
}

.btn-outline-danger {
  --bs-btn-hover-color: #{$color-text-button-outline-danger-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-danger-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-danger-hover};
  --bs-btn-active-color: #{$color-text-button-outline-danger-active};
  --bs-btn-active-bg: #{$color-background-button-outline-danger-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-danger-active};
}

.btn-outline-light {
  --bs-btn-hover-color: #{$color-text-button-outline-light-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-light-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-light-hover};
  --bs-btn-active-color: #{$color-text-button-outline-light-active};
  --bs-btn-active-bg: #{$color-background-button-outline-light-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-light-active};
}

.btn-outline-dark {
  --bs-btn-hover-color: #{$color-text-button-outline-dark-hover};
  --bs-btn-hover-bg: #{$color-background-button-outline-dark-hover};
  --bs-btn-hover-border-color: #{$color-border-button-outline-dark-hover};
  --bs-btn-active-color: #{$color-text-button-outline-dark-active};
  --bs-btn-active-bg: #{$color-background-button-outline-dark-active};
  --bs-btn-active-border-color: #{$color-border-button-outline-dark-active};
}

.badge {
  --bs-badge-font-size: 0.8em;
  --bs-badge-font-weight: 400;
  --bs-badge-border-radius: #{awsui.$border-radius-badge};
}

.bg-primary {
  background-color: #{awsui.$color-background-notification-blue} !important;
}

.card {
  --bs-card-spacer-x: #{awsui.$space-container-horizontal};
  --bs-card-bg: #{awsui.$color-background-container-content};
  --bs-card-border-radius: #{awsui.$border-radius-container};
}