@use "@cloudscape-design/design-tokens" as awsui;
@use "tokens" as tokens;

$icon-stroke-width: 1.8;

@import "bootstrap/scss/functions";

$btn-border-radius: awsui.$border-radius-button;
$btn-font-family: awsui.$font-family-base;
$btn-padding-x: 1.25rem;
$btn-padding-y: 0.3rem;
$btn-font-size: 0.9rem;
$btn-font-weight: 600;
$btn-border-width: 2px;

$badge-font-size: 0.8em;
$badge-font-weight: 400;
$badge-border-radius: awsui.$border-radius-badge;

$card-spacer-x: awsui.$space-container-horizontal;
$card-bg: awsui.$color-background-container-content;
$card-border-radius: awsui.$border-radius-container;

$input-bg: awsui.$color-background-input-default;
$input-border-color: awsui.$color-border-input-default;
$input-border-width: 0.15rem;
$input-border-radius: 0.5rem;
$input-color: awsui.$color-text-form-default;
$input-placeholder-color: awsui.$color-text-input-placeholder;
$input-disabled-bg: awsui.$color-background-input-disabled;
$input-disabled-border-color: transparent;
$input-focus-border-color: awsui.$color-border-item-selected;
$enable-shadows: false;
$input-focus-box-shadow: none;

$form-label-color: awsui.$color-text-form-default;
$form-label-font-weight: 700;

$form-select-focus-box-shadow: none;
$form-select-disabled-color: awsui.$color-text-input-disabled;
$form-select-indicator-color: black;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><polygon class='filled stroke-linejoin-round' fill='#{$form-select-indicator-color}' points='2 3 14 3 8 13 2 3'/></svg>");

$form-check-input-width: 1.2em;
$form-check-input-border: 2px solid #{awsui.$color-border-control-default};
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-color: #{awsui.$color-foreground-control-default};
$form-check-input-checked-bg-color: #{awsui.$color-background-control-checked};

$form-feedback-icon-valid: none;
$form-feedback-icon-invalid: none;

$alert-border-radius: awsui.$border-radius-alert;
$alert-border-width: 0.15rem;

$breadcrumb-divider-color: #{awsui.$color-text-breadcrumb-icon};
$breadcrumb-active-color: #{awsui.$color-text-breadcrumb-current};

@import "bootstrap/scss/variables";

$form-validation-states: map-merge($form-validation-states, (
  "valid": map-merge(map-get($form-validation-states, "valid"), (
    "focus-box-shadow": none,
  )),
  "invalid": map-merge(map-get($form-validation-states, "invalid"), (
    "focus-box-shadow": none,
  )),
));

@import "bootstrap/scss/bootstrap";

.btn-primary {
  --#{$prefix}btn-color: #{awsui.$color-text-button-primary-default};
  --#{$prefix}btn-bg: #{awsui.$color-background-button-primary-default};
  --#{$prefix}btn-border-color: #{awsui.$color-background-button-primary-default};
  --#{$prefix}btn-hover-color: #{awsui.$color-text-button-primary-hover};
  --#{$prefix}btn-hover-bg: #{awsui.$color-background-button-primary-hover};
  --#{$prefix}btn-hover-border-color: #{awsui.$color-background-button-primary-hover};
  --#{$prefix}btn-active-color: #{awsui.$color-text-button-primary-active};
  --#{$prefix}btn-active-bg: #{awsui.$color-background-button-primary-active};
  --#{$prefix}btn-active-border-color: #{awsui.$color-background-button-primary-active};
  --#{$prefix}btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --#{$prefix}btn-disabled-bg: #{awsui.$color-background-button-primary-disabled};
  --#{$prefix}btn-disabled-border-color: #{awsui.$color-background-button-primary-disabled};
}

.btn-outline-primary {
  --#{$prefix}btn-color: #{awsui.$color-text-button-normal-default};
  --#{$prefix}btn-bg: #{awsui.$color-background-button-normal-default};
  --#{$prefix}btn-border-color: #{awsui.$color-border-button-normal-default};
  --#{$prefix}btn-hover-color: #{awsui.$color-text-button-normal-hover};
  --#{$prefix}btn-hover-bg: #{awsui.$color-background-button-normal-hover};
  --#{$prefix}btn-hover-border-color: #{awsui.$color-border-button-normal-hover};
  --#{$prefix}btn-active-color: #{awsui.$color-text-button-normal-active};
  --#{$prefix}btn-active-bg: #{awsui.$color-background-button-normal-active};
  --#{$prefix}btn-active-border-color: #{awsui.$color-border-button-normal-active};
  --#{$prefix}btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --#{$prefix}btn-disabled-bg: #{awsui.$color-background-button-normal-disabled};
  --#{$prefix}btn-disabled-border-color: #{awsui.$color-border-button-normal-disabled};
}

.btn-outline-secondary {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-secondary-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-secondary-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-secondary-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-secondary-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-secondary-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-secondary-active};
}

.btn-outline-info {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-info-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-info-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-info-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-info-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-info-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-info-active};
}

.btn-outline-success {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-success-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-success-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-success-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-success-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-success-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-success-active};
}

.btn-outline-warning {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-warning-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-warning-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-warning-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-warning-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-warning-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-warning-active};
}

.btn-outline-danger {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-danger-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-danger-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-danger-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-danger-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-danger-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-danger-active};
}

.btn-outline-light {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-light-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-light-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-light-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-light-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-light-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-light-active};
}

.btn-outline-dark {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-dark-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-dark-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-dark-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-dark-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-dark-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-dark-active};
}

.form-check-input {
  &:disabled {
    opacity: inherit;
    background-color: #{awsui.$color-background-control-disabled};
    background-image: none;
    border: none;

    ~.form-check-label {
      opacity: inherit;
      color: #{awsui.$color-background-control-disabled};
    }
  }
}

.form-control.is-invalid {
  border-left-width: 0.6rem;
}

.invalid-feedback {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{$form-feedback-invalid-color}' stroke-width='#{$icon-stroke-width}'><polygon class='stroke-linejoin-round' points='8 1 15 15 1 15 8 1'/><rect x='7.99' y='12' width='0.01' height='0.01'/><line x1='8' y1='6' x2='8' y2='10'/></g></svg>"));
  background-repeat: no-repeat;
  padding-left: 1.6rem;
  display: block;
}

.alert {
  --#{$prefix}alert-color: black;
}

$alert-map: (
  "primary": (
    "border-color": awsui.$color-border-status-info,
    "bg-color": awsui.$color-background-status-info,
    "icon": escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{awsui.$color-border-status-info}' stroke-width='#{$icon-stroke-width}'><circle class='stroke-linejoin-round' cx='8' cy='8' r='7'/><polyline points='8 11 8 8 6 8'/><line class='stroke-linejoin-round' x1='10' y1='11' x2='6' y2='11'/><rect x='7.99' y='5' width='0.01' height='0.01'/></g></svg>"))
  ),
  "info": (
    "border-color": awsui.$color-border-status-info,
    "bg-color": awsui.$color-background-status-info,
    "icon": escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{awsui.$color-border-status-info}' stroke-width='#{$icon-stroke-width}'><circle class='stroke-linejoin-round' cx='8' cy='8' r='7'/><polyline points='8 11 8 8 6 8'/><line class='stroke-linejoin-round' x1='10' y1='11' x2='6' y2='11'/><rect x='7.99' y='5' width='0.01' height='0.01'/></g></svg>"))
  ),
  "success": (
    "border-color": awsui.$color-border-status-success,
    "bg-color": awsui.$color-background-status-success,
    "icon": escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{awsui.$color-border-status-success}' stroke-width='#{$icon-stroke-width}'><circle class='stroke-linejoin-round' cx='8' cy='8' r='7'/><polyline class='stroke-linecap-square' points='5 8 7 10 10.521 6.479'/></g></svg>"))
  ),
  "warning": (
    "border-color": awsui.$color-border-status-warning,
    "bg-color": awsui.$color-background-status-warning,
    "icon": escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{awsui.$color-border-status-warning}' stroke-width='#{$icon-stroke-width}'><polygon class='stroke-linejoin-round' points='8 1 15 15 1 15 8 1'/><rect x='7.99' y='12' width='0.01' height='0.01'/><line x1='8' y1='6' x2='8' y2='10'/></g></svg>"))
  ),
  "danger": (
    "border-color": awsui.$color-border-status-error,
    "bg-color": awsui.$color-background-status-error,
    "icon": escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{awsui.$color-border-status-error}' stroke-width='#{$icon-stroke-width}'><circle class='stroke-linejoin-round' cx='8' cy='8' r='7'/><line x1='10.82843' y1='5.17157' x2='5.17157' y2='10.82843'/><line x1='10.82843' y1='10.82843' x2='5.17157' y2='5.17157'/></g></svg>"))
  ),
);

@each $type, $data in $alert-map {
  .alert-#{$type} {
    --#{$prefix}alert-border-color: #{map-get($data, "border-color")};
    --#{$prefix}alert-bg: #{map-get($data, "bg-color")};
    display: flex;
    flex-direction: horizontal;

    &::before {
      background-image: map-get($data, "icon");
      background-repeat: no-repeat;
      width: 1.2rem;
      height: 1.2rem;
      margin-top: 0.1rem;
      margin-right: 0.5rem;
      display: block;
      content: "";
    }
  }
}

.badge.bg-primary {
  background-color: #{awsui.$color-background-notification-blue} !important;
}

.badge.bg-success {
  background-color: #{awsui.$color-background-notification-green} !important;
}

.badge.bg-danger {
  background-color: #{awsui.$color-background-notification-red} !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  margin-top: 0.25rem;
  margin-right: var(--#{$prefix}breadcrumb-item-padding-x);
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{$breadcrumb-divider-color}' stroke-width='#{$icon-stroke-width}'><polyline points='4 1 11 8 4 15'/></g></svg>"));
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
}