@use "@cloudscape-design/design-tokens" as awsui;
@use "tokens" as tokens;

@import "bootstrap/scss/functions";

$btn-border-radius: awsui.$border-radius-button;
$btn-font-family: awsui.$font-family-base;
$btn-padding-x: 1.25rem;
$btn-padding-y: 0.3rem;
$btn-font-size: 0.9rem;
$btn-font-weight: 600;
$btn-border-width: 2px;

$badge-font-size: 0.8em;
$badge-font-weight: 400;
$badge-border-radius: awsui.$border-radius-badge;

$card-spacer-x: awsui.$space-container-horizontal;
$card-bg: awsui.$color-background-container-content;
$card-border-radius: awsui.$border-radius-container;

$input-bg: awsui.$color-background-input-default;
$input-border-color: awsui.$color-border-input-default;
$input-border-width: 0.15rem;
$input-border-radius: 0.5rem;
$input-color: awsui.$color-text-form-default;
$input-placeholder-color: awsui.$color-text-input-placeholder;
$input-disabled-bg: awsui.$color-background-input-disabled;
$input-disabled-border-color: transparent;
$input-focus-border-color: awsui.$color-border-item-selected;
$enable-shadows: false;
$input-focus-box-shadow: none;

$form-label-color: awsui.$color-text-form-default;
$form-label-font-weight: 700;

$form-select-focus-box-shadow: none;
$form-select-disabled-color: awsui.$color-text-input-disabled;
$form-select-indicator-color: black;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><polygon class='filled stroke-linejoin-round' fill='#{$form-select-indicator-color}' points='2 3 14 3 8 13 2 3'/></svg>");

$form-check-input-width: 1.2em;
$form-check-input-border: 2px solid #{awsui.$color-border-control-default};
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-color: #{awsui.$color-foreground-control-default};
$form-check-input-checked-bg-color: #{awsui.$color-background-control-checked};

$form-feedback-icon-valid: none;
$form-feedback-icon-invalid: none;

@import "bootstrap/scss/variables";

$form-validation-states: map-merge($form-validation-states, (
  "valid": map-merge(map-get($form-validation-states, "valid"), (
    "focus-box-shadow": none,
  )),
  "invalid": map-merge(map-get($form-validation-states, "invalid"), (
    "focus-box-shadow": none,
  )),
));

@import "bootstrap/scss/bootstrap";

.btn-primary {
  --#{$prefix}btn-color: #{awsui.$color-text-button-primary-default};
  --#{$prefix}btn-bg: #{awsui.$color-background-button-primary-default};
  --#{$prefix}btn-border-color: #{awsui.$color-background-button-primary-default};
  --#{$prefix}btn-hover-color: #{awsui.$color-text-button-primary-hover};
  --#{$prefix}btn-hover-bg: #{awsui.$color-background-button-primary-hover};
  --#{$prefix}btn-hover-border-color: #{awsui.$color-background-button-primary-hover};
  --#{$prefix}btn-active-color: #{awsui.$color-text-button-primary-active};
  --#{$prefix}btn-active-bg: #{awsui.$color-background-button-primary-active};
  --#{$prefix}btn-active-border-color: #{awsui.$color-background-button-primary-active};
  --#{$prefix}btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --#{$prefix}btn-disabled-bg: #{awsui.$color-background-button-primary-disabled};
  --#{$prefix}btn-disabled-border-color: #{awsui.$color-background-button-primary-disabled};
}

.btn-outline-primary {
  --#{$prefix}btn-color: #{awsui.$color-text-button-normal-default};
  --#{$prefix}btn-bg: #{awsui.$color-background-button-normal-default};
  --#{$prefix}btn-border-color: #{awsui.$color-border-button-normal-default};
  --#{$prefix}btn-hover-color: #{awsui.$color-text-button-normal-hover};
  --#{$prefix}btn-hover-bg: #{awsui.$color-background-button-normal-hover};
  --#{$prefix}btn-hover-border-color: #{awsui.$color-border-button-normal-hover};
  --#{$prefix}btn-active-color: #{awsui.$color-text-button-normal-active};
  --#{$prefix}btn-active-bg: #{awsui.$color-background-button-normal-active};
  --#{$prefix}btn-active-border-color: #{awsui.$color-border-button-normal-active};
  --#{$prefix}btn-disabled-color: #{awsui.$color-border-button-normal-disabled}; // TODO: no disabled text color from awsui
  --#{$prefix}btn-disabled-bg: #{awsui.$color-background-button-normal-disabled};
  --#{$prefix}btn-disabled-border-color: #{awsui.$color-border-button-normal-disabled};
}

.btn-outline-secondary {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-secondary-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-secondary-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-secondary-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-secondary-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-secondary-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-secondary-active};
}

.btn-outline-info {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-info-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-info-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-info-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-info-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-info-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-info-active};
}

.btn-outline-success {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-success-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-success-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-success-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-success-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-success-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-success-active};
}

.btn-outline-warning {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-warning-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-warning-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-warning-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-warning-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-warning-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-warning-active};
}

.btn-outline-danger {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-danger-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-danger-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-danger-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-danger-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-danger-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-danger-active};
}

.btn-outline-light {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-light-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-light-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-light-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-light-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-light-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-light-active};
}

.btn-outline-dark {
  --#{$prefix}btn-hover-color: #{tokens.$color-text-button-outline-dark-hover};
  --#{$prefix}btn-hover-bg: #{tokens.$color-background-button-outline-dark-hover};
  --#{$prefix}btn-hover-border-color: #{tokens.$color-border-button-outline-dark-hover};
  --#{$prefix}btn-active-color: #{tokens.$color-text-button-outline-dark-active};
  --#{$prefix}btn-active-bg: #{tokens.$color-background-button-outline-dark-active};
  --#{$prefix}btn-active-border-color: #{tokens.$color-border-button-outline-dark-active};
}

.bg-primary {
  background-color: #{awsui.$color-background-notification-blue} !important;
}

.form-check-input {
  &:disabled {
    opacity: inherit;
    background-color: #{awsui.$color-background-control-disabled};
    background-image: none;
    border: none;

    ~.form-check-label {
      opacity: inherit;
      color: #{awsui.$color-background-control-disabled};
    }
  }
}

.form-control.is-invalid {
  border-left-width: 0.6rem;
}

.invalid-feedback {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='none' stroke='#{$form-feedback-invalid-color}' stroke-width='1.8'><polygon class='stroke-linejoin-round' points='8 1 15 15 1 15 8 1'/><rect x='7.99' y='12' width='0.01' height='0.01'/><line x1='8' y1='6' x2='8' y2='10'/></g></svg>"));
  background-repeat: no-repeat;
  padding-left: 1.6rem;
  display: block;
}