@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$color-border-button-outline-secondary-active: $gray-800;
$color-border-button-outline-secondary-hover: $gray-800;
$color-background-button-outline-secondary-active: $gray-300;
$color-background-button-outline-secondary-hover: $gray-200;
$color-text-button-outline-secondary-active: $gray-800;
$color-text-button-outline-secondary-hover: $gray-800;

$color-border-button-outline-info-active: $cyan-600;
$color-border-button-outline-info-hover: $cyan-600;
$color-background-button-outline-info-active: $cyan-100;
$color-background-button-outline-info-hover: tint-color($cyan, 95%);
$color-text-button-outline-info-active: $cyan-600;
$color-text-button-outline-info-hover: $cyan-600;

$color-border-button-outline-success-active: $green-800;
$color-border-button-outline-success-hover: $green-800;
$color-background-button-outline-success-active: $green-100;
$color-background-button-outline-success-hover: tint-color($green, 95%);
$color-text-button-outline-success-active: $green-800;
$color-text-button-outline-success-hover: $green-800;

$color-border-button-outline-warning-active: $yellow-600;
$color-border-button-outline-warning-hover: $yellow-600;
$color-background-button-outline-warning-active: $yellow-100;
$color-background-button-outline-warning-hover: tint-color($yellow, 95%);
$color-text-button-outline-warning-active: $yellow-600;
$color-text-button-outline-warning-hover: $yellow-600;

$color-border-button-outline-danger-active: $red-700;
$color-border-button-outline-danger-hover: $red-700;
$color-background-button-outline-danger-active: $red-100;
$color-background-button-outline-danger-hover: tint-color($red, 95%);
$color-text-button-outline-danger-active: $red-700;
$color-text-button-outline-danger-hover: $red-700;

$color-border-button-outline-light-active: $gray-400;
$color-border-button-outline-light-hover:$gray-400;
$color-background-button-outline-light-active: $gray-800;
$color-background-button-outline-light-hover: $black;
$color-text-button-outline-light-active: $gray-400;
$color-text-button-outline-light-hover: $gray-400;

$color-border-button-outline-dark-active: $gray-700;
$color-border-button-outline-dark-hover: $gray-700;
$color-background-button-outline-dark-active: $gray-300;
$color-background-button-outline-dark-hover: $gray-200;
$color-text-button-outline-dark-active: $gray-700;
$color-text-button-outline-dark-hover: $gray-700;